body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}


/* NABARS  */

    
/* body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; 
    padding: 5px 12px;
    height: 3rem;
    margin-left: 14rem;
    margin-top: 2rem;
}

.logo {
    width: 100px; /* adjust the width to your desired size */
    height: 100px; /* adjust the height to your desired size */
    border-radius: 50%; /* make the div a circle */
    display: flex; /* center the image horizontally and vertically */
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* center the div horizontally */
}

.logo img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    object-fit: cover; 
}

.navbar .nav-links {
    display: flex;
    gap: 4rem;
}

.navbar .nav-links a {
    color: #d5dde0; 
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    /* transition: background-color 0.3s, color 0.3s; */
}

.navbar .nav-links a:hover {
    background-color: #d8e7ee; 
    color: #0d0d0e; 
    border-radius: 5px;
    border-bottom: 2px solid #0d0d0e; 
    border-bottom-width: 2px;
}

/* Desktop layout */
@media (min-width: 1200px) {
    .navbar {
        margin-left: 14rem;
        margin-top: 2rem;
    }
    .navbar .nav-links {
        gap: 4rem;
    }
    .navbar .nav-links a {
        font-size: 18px;
    }
    .navbar .nav-links a:hover {
        border-bottom-width: 2px;
    }
}

/* Tablet layout */
@media (min-width: 768px) and (max-width: 1199px) {
    .navbar {
        margin-left: 10rem;
        margin-top: 1.5rem;
    }
    .navbar .nav-links {
        gap: 3rem;
    }
    .navbar .nav-links a {
        font-size: 16px;
    }
    .navbar .nav-links a:hover {
        border-bottom-width: 1.5px;
    }
}

/* Mobile layout */
@media (max-width: 767px) {
    .navbar {
        margin-left: 5rem;
        margin-top: 1rem;
        flex-direction: column;
        padding: 10px;
    }
    .logo {
        margin-bottom: 10px;
    }
    .navbar .nav-links {
        flex-direction: column;
        gap: 1rem;
    }
    .navbar .nav-links a {
        font-size: 14px;
    }
    .navbar .nav-links a:hover {
        border-bottom-width: 1px;
    }
}





        h2{
            color: #ffffff;
            margin-left: 3rem;
            font-size: 2.6rem;
            font-family:'Times New Roman', Times, serif;
         
        }


/* BRANDS */
        h3{
            color: #fff;
            align-content: center;
        }
        .car-brands {
            width: 100%;
            overflow: hidden;
            padding: 20px 0;
            background-color: #051923;
            color: #01080c;
        }
        
        .logo-brands {
            display: flex;
            animation: marquee 9s linear infinite; /* Adjust speed as needed */
        }
        
        .logo-brands div {
            display: flex;
            align-items: center;
        }
        
        .logo-brands .image img {
            width: 100px; 
            height: 100px; 
            border-radius: 50%; 
            object-fit: cover;
            border: 2px solid #fff; 
            margin-right: 20px; 
        }
        
        .brand-name {
            margin-right: 40px;
            font-size: 14px;
        }
        
        /* Duplicate the logos for continuous effect */
        .logo-brands::after {
            content: "";
            display: flex;
            align-items: center;
        }
        
        /* Keyframes for marquee animation */
        @keyframes marquee {
            from { transform: translateX(0); }
            to { transform: translateX(-100%); }
        }





/* PRODUCT CARDS */

.product-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    perspective: 1000px;
    height: 350px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.5s ease;
    transform-style: preserve-3d;
}

.product-card:hover .product-card-inner {
    transform: rotateY(180deg);
}

.product-card-front, .product-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.product-card-front {
    background-color: #fff;
    font-size: 1.9rem;
}

.product-card-front img {
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-card-front:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

.product-card-back {
    background-color: #f7f7f7;
    color: #0e0c0c;
    transform: rotateY(180deg);
}

.product-card-back h4 {
    margin: 10px 0;
    font-size: 30px;
}

.product-card-back p {
    margin: 5px 0;
}

.product-card-back button {
    background-color: #0e0a0a;
    color: #fffcfc;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: auto;
}

.product-card-back button:hover {
    background-color: gray;
    color:#0c0b0b;
    transform: scale(1.05);
}


        /* Scroll Animation ON WEBPAGES*/
.scroll-image {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-image.visible {
    opacity: 1;
    transform: translateY(0);

}


<<<<<<< HEAD
/* BRANDS */
h3{
    color: #fff;
    align-content: center;
}
.car-brands {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    background-color: #051923;
    color: #00A6FB;
}

.logo-brands {
    display: flex;
    animation: marquee 9s linear infinite; /* Adjust speed as needed */
}

.logo-brands div {
    display: flex;
    align-items: center;
}

.logo-brands .image img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #fff; 
    margin-right: 20px; 
}

.brand-name {
    margin-right: 40px;
    font-size: 14px;
}

/* Duplicate the logos for continuous effect */
.logo-brands::after {
    content: "";
    display: flex;
    align-items: center;
}

/* Keyframes for marquee animation */
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); 
    }
}
=======



>>>>>>> 420aa6360fbf5c4ad31ea558163bcdad776080a3
