@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
     
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #00adf4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    display: flex;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}




/* BRANDS */
h2 {
    color: #fff;
    text-align: center;
}

.car-brands {
    margin-top: 6rem;
    width: 100%;
    padding: 20px 0;
    background-color:transparent;
    color: #fff;
    font-size: medium;
    position: relative;
    overflow: hidden;
}

.logo-brands {
    display: flex;
    animation: marquee 10s linear infinite;
}

.brand {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    position: relative;
}

.logo-brands .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.brand-name {
    font-size: 25px;
    font-weight: bold;
    margin-right: 40px;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* Hover Effects */
.brand:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.brand:hover .image img {
    transform: scale(1.2);
}

/* Keyframes for marquee animation */
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

/* Styling for the entire section */
.car-brands::before, .car-brands::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

.car-brands::before {
    left: 0;
    background: linear-gradient(to right, rgba(48, 48, 48, 1), rgba(48, 48, 48, 0));
}

.car-brands::after {
    right: 0;
    background: linear-gradient(to left, rgba(48, 48, 48, 1), rgba(48, 48, 48, 0));
}



/* BACKGROUND VIDEO */
.video-background {
  position: relative;
  height: 100vh; 
  width: 100%;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9; /* adjust the opacity to your desired value */
  margin-bottom: 0;
}

.video-background video::-webkit-media-controls {
  display: none;
}

.video-background h1, .video-background p {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}




@media (max-width: 768px) {
    .video-background {
      height: 60vh; /* Adjust video height for smaller screens */
    }
  
    .video-background h1 {
      font-size: 1.5rem; /* Reduce font size on smaller screens */
    }
  
    .video-background p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .video-background {
      height: 50vh; /* Further adjust video height for mobile */
    }
  
    .video-background h1 {
      font-size: 1.2rem; /* Further reduce font size for mobile */
    }
  
    .video-background p {
      font-size: 0.9rem;
    }
  }
  .large-font {
    font-size: 60px;
    color: #fff;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0; /* Initially hidden */
    transform: translateX(-100%); /* Initially off-screen */
    transition: all 0.5s ease; /* Smooth transition */
}


.large-font.visible {
    opacity: 1; /* Make visible */
    transform: translateX(0); /* Move back to original position */
}

    




/* PRODUCT CARDS */

.car-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.car-card {
    background-color: #c0bcbc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: perspective(1000px) rotateY(0);
    transition: transform 0.4s;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.car-card:hover {
    transform: perspective(1000px) rotateY(10deg);
   
}


.car-image img {
    width: 100%;
    height: 280px;
    object-fit:contain;
    transition: transform 0.4s;
}

.car-card:hover .car-image img {
    transform: scale(1.05);
    
}

.car-info {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    font-family: "Agdasima", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.car-info h3 {
    margin: 0;
    font-size: 30px;
    color: #000000;
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    

}

.car-info p {
    font-size: 16px;
    color: #3f3b3b;
    margin: 10px 0;
    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.buy-now {
    background-color: #4a4f52;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-now a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buy-now a:hover,
.buy-now:hover {
    background-color: #22333b;
    color: #dcdee0;
}



/* explore button */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-button {
    background-color: #dbe3e7;
    color: #141313;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: "Agdasima", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* .explore-button:hover {
    background-color: #0582CA;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} */

.explore-button::after {
    content: '→';
    font-size: 20px;
    margin-left: 10px;
    transition: margin-left 0.3s;
}

.explore-button:hover {
    background-color: #000000;
    color: #d5dde0;
    box-shadow: 0 20px 35px rgba(231, 225, 225, 0.2);
}

.explore-button:hover::after {
    margin-left: 15px;
}

/* FOOTER */
/* .base{
    margin-top: 0;
    flex-wrap: wrap;
    overflow: hidden;
    top:0;
} */
.footer {
    position: relative;
    background-color: #515050;
    
    color: white;
    text-align: center;
    padding: 40px 0;
    border-radius: 7rem 0 7rem 0;
    top:0;
    margin-top: 0;
    z-index: -1;
}

.footer-content {
    position: relative;
    z-index: 1;
}

.social-icons {
    margin: 15px 0;
}

.social-icons .icon {
    margin: 0 10px;
    display: inline-block; 
    transition: transform 0.5s; 
}

.social-icons img {
    width: 30px;
    height: 30px;
}


.social-icons .icon:hover {
    transform: translateY(-5px); 
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: inline-block; 
    margin-top: 15px; 
}

.footer-nav li {
    display: inline;
    margin: 0 15px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* back to top button */

#backToTopBtn {
    position: fixed; /* Fix the button at a specific position */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    background-color: #f4fcff; /* Button color */
    color: white; /* Text color */
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer; /* Show pointer cursor */
    font-size: 20px; /* Font size for the arrow */
    display: none; /* Initially hidden */
    z-index: 99; /* Make sure it’s on top of other elements */
    transition: opacity 0.3s ease; /* Smooth transition */
    
}

#backToTopBtn:hover {
    background-color: #000000; /* Change color on hover */
}
